.clndr-cell {
  background-color: white;
  transition: all 200ms;
  padding: 5px 0;
  height: 30px;
  cursor: pointer;
}

.clndr-cell:hover {
  background-color: #cacbcd;
  color: inherit;
}

.clndr-cell-today {
  background-color: #e0e1e2;
}

.clndr-cell-inrange {
  background-color: #cacbcd;
  color: inherit;
}

.clndr-cell-disabled {
  cursor: default;
  opacity: 0.45;
}

.clndr-cell-disabled:hover {
  background-color: white;
}

.clndr-cell-selected {
  background-color: #4f4f4f;
  color: #f2f2f2;
}

.clndr-cell-other-month {
  color: #d9d9d9;
}
