.clndr-cell {
  background: white;
  transition: all 200ms;
  padding: 5px 0;
  height: 30px;
  cursor: pointer;
}

.clndr-cell:hover {
  background: #cacbcd;
  color: inherit;
}

.clndr-cell-disabled {
  cursor: not-allowed;
  opacity: 0.45;
}

.clndr-cell-disabled:hover {
  background: white;
}

.clndr-cell-today {
  background: #e0e1e2;
}

.clndr-cell-selected {
  background: #4f4f4f;
  color: #f2f2f2;
}
