.clndr-calendars-segment {
  position: absolute !important;
  margin-top: 0.25rem !important;
}

.clndr-calendars-wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(var(--n, 1), 1fr);
}

.clndr-calendar {
  margin: 0 !important;
}

.clndr-control {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-bottom: 10px;
  align-items: center;
  height: 28.5px;
}

.clndr-control > div {
  display: flex;
  justify-self: var(--justify, flex-start);
}

.clndr-control-month {
  padding: 0 20px;
  text-align: center;
  grid-column: 1 / -1;
}

.clndr-control-buttons {
  position: absolute;
  margin-top: 1rem;
  top: 0;
}

.clndr-days {
  text-align: center;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 2.2rem);
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.28571429rem;
  position: relative;
  overflow: hidden;
}
