.clndr-calendar {
  margin: 0 !important;
}

.clndr-control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
  align-items: center;
}

.clndr-control > div {
  display: flex;
  justify-content: var(--justify, flex-start);
}

.clndr-control-month {
  padding: 0 20px;
  text-align: center;
}

.clndr-days {
  text-align: center;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, minmax(40px, 1fr));
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.28571429rem;
  position: relative;
  overflow: hidden;
}
