.clndr-calendars-segment {
  text-align: center;
  position: absolute !important;
  margin-top: 0.25rem !important;
}

.clndr-calendars-wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(var(--n, 1), 1fr);
}

.clndr-control {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
  align-items: center;
}

.clndr-days {
  text-align: center;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, 2.2rem);
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.28571429rem;
}
